@using MicroService.ApiGateway.Ocelot.Dto
@using MicroService.ApiGateway.Bundling
@using Microsoft.AspNetCore.Mvc.Localization
@using MicroService.ApiGatewayAdmin.Domain.Localization.ApiGateway;
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject IHtmlLocalizer<ApiGatewayResource> Localizer
@model ReRouteDto
@section styles {
    <abp-style-bundle name="@WebServiceBundles.Styles.TagsInput"></abp-style-bundle>
    <abp-style-bundle name="@WebServiceBundles.Styles.OcelotGlobal"></abp-style-bundle>
}
@section scripts{
    <abp-script-bundle name="@WebServiceBundles.Scripts.OcelotReRoute"></abp-script-bundle>
    <abp-script-bundle name="@WebServiceBundles.Scripts.TagsInput"></abp-script-bundle>
}

<form class="layui-form layui-form-pane" action="" lay-filter="ReRouteCfg">
    @Html.Hidden("ReRouteId")
    <div class="layui-tab  layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">@Localizer["Basic"]</li>
            <li>@Localizer["HttpOptions"]</li>
            <li>@Localizer["RateLimit"]</li>
            <li>@Localizer["Qos"]</li>
            <li>@Localizer["SecurityOptions"]</li>
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show" role="tabpanel">
                @await Html.PartialAsync("ReRoute/Basic")
            </div>
            <div class="layui-tab-item" role="tabpanel">
                @await Html.PartialAsync("ReRoute/Handler")
            </div>
            <div class="layui-tab-item" role="tabpanel">
                @await Html.PartialAsync("ReRoute/RateLimit")
            </div>
            <div class="layui-tab-item" role="tabpanel">
                @await Html.PartialAsync("ReRoute/Qos")
            </div>
            <div class="layui-tab-item" role="tabpanel">
                @await Html.PartialAsync("ReRoute/Security")
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-layout-admin">
        <div class="layui-input-block">
            <div class="layui-footer ocelot-footer" style="left: 0; text-align: center">
                <button class="layui-btn" lay-submit lay-filter="btnSave">@Localizer["Submit"]</button>
            </div>
        </div>
    </div>
</form>
