@using Microsoft.AspNetCore.Mvc.Localization
@using MicroService.ApiGatewayAdmin.Domain.Localization.ApiGateway;
@inject IHtmlLocalizer<ApiGatewayResource> Localizer

<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label ocelot-line">@Localizer["LoadWay"]</label>
        <div class="layui-input-inline">
            <select name="Type">
                <option value="LeastConnection">@Localizer["LeastConnection"]</option>
                <option value="RoundRobin">@Localizer["RoundRobin"]</option>
                <option value="NoLoadBalance">@Localizer["NoLoadBalance"]</option>
            </select>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label ocelot-line">@Localizer["ExceptionsAllowedBeforeBreaking"]</label>
        <div class="layui-input-line ocelot-block">
            <input type="text" name="ExceptionsAllowedBeforeBreaking" class="layui-input ocelot-line-input" autocomplete="off"
                   id="ExceptionsAllowedBeforeBreaking" lay-verfy="number">
        </div>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label ocelot-line">@Localizer["DurationOfBreak"]</label>
    <div class="layui-input-block ocelot-block">
        <input type="text" name="DurationOfBreak" class="layui-input" autocomplete="off"
               id="DurationOfBreak" lay-verfy="number">
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label ocelot-line">@Localizer["TimeoutValue"]</label>
    <div class="layui-input-block ocelot-block">
        <input type="text" name="TimeoutValue" class="layui-input" autocomplete="off"
               id="TimeoutValue" lay-verfy="number">
    </div>
</div>