@using Microsoft.AspNetCore.Mvc.Localization
@using MicroService.ApiGatewayAdmin.Domain.Localization.ApiGateway;
@inject IHtmlLocalizer<ApiGatewayResource> Localizer

<div class="layui-form-item">
    <label class="layui-form-label ocelot-line">@Localizer["ClientWhitelist"]</label>
    <div class="layui-input-block ocelot-block">
        <input type="text" name="ClientWhitelist" class="tags-input" tgclass="ocelot-line-input" autocomplete="off"
               id="ClientWhitelist" placeholder="@Localizer["Format"] 127.0.0.1">
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label ocelot-line">@Localizer["Limit"]</label>
    <div class="layui-input-block ocelot-block">
        <input type="text" name="Limit" class="layui-input" autocomplete="off"
               id="Limit" lay-verfy="number">
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label ocelot-line">@Localizer["PeriodTimespan"]</label>
    <div class="layui-input-block ocelot-block">
        <input type="text" name="PeriodTimespan" class="layui-input" autocomplete="off"
               id="PeriodTimespan" lay-verfy="number">
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label ocelot-line">@Localizer["Period"]</label>
    <div class="layui-input-block ocelot-block">
        <input type="text" name="Period" class="layui-input" autocomplete="off"
               id="Period" placeholder="@Localizer["Sample"] 1s, 5m, 1h, 1d">
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label ocelot-line">@Localizer["RateLimit"]</label>
    <div class="layui-input-inline ocelot-line-input">
        <input type="checkbox" id="EnableRateLimiting" name="EnableRateLimiting" title="@Localizer["EnableRateLimiting"]">
    </div>
</div>

